.base {
  display: flex;
  flex-direction: column;
  min-width: 50px;

  &__dark {
    color: rgb(0, 0, 0);
  }

  &__light {
    color: rgb(255, 255, 255);
  }
}

.label {
  letter-spacing: 2%;

  &__dark {
    color: rgb(0, 0, 0);
  }

  &__light {
    color: rgb(255, 255, 255);
  }
}

input {
  padding: 10px 0 0;
  color: rgb(0, 0, 0);
}

.label,
input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

input {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);

  &:focus {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
