.base {
  padding: 25px 0;
}

.contanier {
  display: flex;
  flex-direction: column;
}

// .logo p {
//   color: rgb(13, 51, 86);
//   font-weight: 800;
//   font-style: Italic;
//   font-size: 33px;
// }

// .content {
//   color: rgb(0, 0, 0);
//   font-weight: 600;
//   font-size: 87px;
// }
