.base {
  padding: 170px 0;
  background: linear-gradient(75deg, #f4e8f3 0%, #f3eff6 52%, #eee0f9 102%);
}

.contanier {
  text-align: center;
}

.logo p {
  color: rgb(13, 51, 86);
  font-weight: 800;
  font-style: Italic;
  font-size: 33px;
}

.content {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 87px;
}
